<% provide(:title, 'All Users') %>
<h1>ãƒ¦ãƒ¼ã‚¶ãƒ¼ä¸€è¦§</h1>

<div class="col-md-10 col-md-offset-1">
  <%= will_paginate %>
  <table class="table table-condensed table-hover" id="table-users">
    <thead>
      <tr>
        <th><%= User.human_attribute_name :name %></th>
        <!--ðŸ‘†ã“ã‚Œã¯ä½•ã‚’ã—ã¦ã‚‹ã®ã‹ï¼Ÿèª¬æ˜Žãªã— 8.4-->
        <th></th>
      </tr>
    </thead>

    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user %></td>
        <td>
          <% if current_user.admin? && !current_user?(user) %>
          <!--ðŸ‘†!current_user?(user)ã®æ„å‘³â‡’ç®¡ç†è€…ã«ã¯å‰Šé™¤ãƒœã‚¿ãƒ³ã‚’è¡¨ç¤ºã•ã›ãªã„ã‚ˆã†ã«ã—ã¦ã„ã‚‹ 8.5.2-->
            <%= link_to "å‰Šé™¤", user, method: :delete,
                data: { confirm: "å‰Šé™¤ã—ã¦ã‚ˆã‚ã—ã„ã§ã™ã‹ï¼Ÿ" },
                class: "btn btn-danger" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate %>
</div>