<% provide(:title, @user.name) %>
<div>
  <table class="table table-bordered table-condensed user-table">
    <!--tr ⇒ 列 td ⇒ セル-->
    <tr> 
      <td>時間管理表</td>
      <!--下記使い方再考必要‼ 9.2、メモ参照しながら‼-->
      <!--<td>指定勤務時間：< %= @user.work_time %></td> が👇に --> 
      <td>指定勤務時間：<%= format_basic_info(@user.work_time) %></td>
      <!--<td>基本時間：< %= @user.basic_time %></td> が👇に -->
      <td>基本時間：<%= format_basic_info(@user.basic_time) %></td>
      <td>月初日</td>
    </tr>

    <tr>
      <td>所属：<%= @user.department.present? ? @user.department : "未所属" %></td>
      <!--👆所属に値がなければ、未所属と表示 9.1.2 より この書き方説明無 -->
      <!--上記のコードが分からなかった為、下記自分で考えた！！下記でも動作した！！-->
      <!--<td>所属：-->
      <!--  < % if @user.department? %>-->
      <!--    < %= @user.department %>-->
      <!--  < % else %>-->
      <!--    < %= "未所属" %>-->
      <!--  < % end %>-->
      <!--</td>-->
      <td>名前：<%= @user.name %></td>
      <td>出勤日数</td>
      <td>月末日</td>
    </tr>
  </table>
</div>

<div>
  <table class="table table-bordered table-condensed table-hover" id="table-attendances">
    <thead>
      <tr>
        <th>日付</th>
        <th>曜日</th>
        <th>勤怠登録</th>
        <th>出勤時間</th>
        <th>退勤時間</th>
        <th>在社時間</th>
        <th>備考</th>
      </tr>
    </thead>

    <tbody> 
      <!--< % (@first_day..@last_day).each do |day| %> <!-- 範囲オブジェクト 10.2-->
      <% @attendances.each do |day| %>
        <tr> <!-- 行 -->
          <!--<td>< %= l(day, format: :short) %></td> <!-- 日付表示を2020-01-01から 1/1 にしている 10.2  -->
          <!--10.3により👇に-->
          <td><%= l(day.worked_on, format: :short) %></td>
          
          <!--<td>< %= $days_of_the_week[day.wday] %></td> <!-- 配列のインデックス番号から、曜日を取得している 10.2 説明が少ない!!必要時、落ち着いて考えよう-->
          <!--$days_of_the_week = グローバル変数 10.2 -->
          <!--10.3により👇に-->
          <td><%= $days_of_the_week[day.worked_on.wday] %></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>