<% provide(:title, @user.name) %>
<div>
  <table class="table table-bordered table-condensed user-table">
    <!--tr ⇒ 列 td ⇒ セル-->
    <tr> 
      <td>【<%= l(@first_day, format: :middle) %>】勤怠管理表</td>
      <!--👆日付を現在の月表示にしている 10.4で出てきた 10.2見れば分かる-->
      
      <!--下記使い方再考必要‼ 9.2、メモ参照しながら‼-->
      <!--<td>指定勤務時間：< %= @user.work_time %></td> が👇に --> 
      <td>指定勤務時間：<%= format_basic_info(@user.work_time) %></td>
      <!--<td>基本時間：< %= @user.basic_time %></td> が👇に -->
      <td>基本時間：<%= format_basic_info(@user.basic_time) %></td>
      <td>月初日：<%= l(@first_day, format: :short) %></td>
    </tr>

    <tr>
      <td>所属：<%= @user.department.present? ? @user.department : "未所属" %></td>
      <!--👆所属に値がなければ、未所属と表示 9.1.2 より この書き方説明無 -->
      <!--上記のコードが分からなかった為、下記自分で考えた！！下記でも動作した！！-->
      <!--<td>所属：-->
      <!--  < % if @user.department? %>-->
      <!--    < %= @user.department %>-->
      <!--  < % else %>-->
      <!--    < %= "未所属" %>-->
      <!--  < % end %>-->
      <!--</td>-->
      <td>名前：<%= @user.name %></td>
      <td>出勤日数：<%= @worked_sum %></td>
      <td>月末日：<%= l(@last_day, format: :short) %></td>
    </tr>
  </table>
</div>

<!--切替ボタン 10.4-->
<div class="btn-users-show">
  <%= link_to "⇦ 前月へ", user_path(date: @first_day.prev_month), class: "btn btn-info" %>
  <%= link_to "1ヶ月の勤怠編集へ", attendances_edit_one_month_user_path(date: @first_day), class: "btn btn-success" %>
                                                                        <!--↑paramsﾊｯｼｭにdateｷｰとして、@first_dayを渡している(どの月を表示するか判断できる) 11.1.3-->
  <%= link_to "次月へ ⇨", user_path(date: @first_day.next_month), class: "btn btn-info" %>
</div>

<div>
  <table class="table table-bordered table-condensed table-hover" id="table-attendances">
    <thead>
      <tr>
        <th>日付</th>
        <th>曜日</th>
        <th>勤怠登録</th>
        <th>出勤時間</th>
        <th>退勤時間</th>
        <th>在社時間</th>
        <th>備考</th>
      </tr>
    </thead>

    <tbody> 
      <!--< % (@first_day..@last_day).each do |day| %> <!-- 範囲オブジェクト 10.2-->
      <% @attendances.each do |day| %>
        <tr> <!-- 行 -->
          <!--<td>< %= l(day, format: :short) %></td> <!-- 日付表示を2020-01-01から 1/1 にしている 10.2  -->
          <!--10.3により👇に-->
          <td><%= l(day.worked_on, format: :short) %></td>
          
          <!--<td>< %= $days_of_the_week[day.wday] %></td> <!-- 配列のインデックス番号から、曜日を取得している 10.2 説明が少ない!!必要時、落ち着いて考えよう-->
          <!--$days_of_the_week = グローバル変数 10.2 -->
          <!--10.3により👇に-->
          <td><%= $days_of_the_week[day.worked_on.wday] %></td>
          <td>
            <!--実際の日付(パソコンの)と、繰り返し処理中の日付が一致する場合で、且つstarted_atがnilの場合=ボタン表示 10.5.2-->
            <!--< % if (Date.current == day.worked_on) && day.started_at.nil? %>-->
            <!--  < %= link_to "出勤登録", user_attendance_path(@user, day), method: :patch, class: "btn btn-primary btn-attendance" %>-->
            <!--< % elsif (Date.current == day.worked_on) && day.started_at.present? day.finished_at.nil? %>-->
            <!--  < %= link_to "退勤登録", user_attendance_path(@user, day), method: :patch, class: "btn btn-primary btn-attendance" %>-->
            <!--< % end %> -->
            <!--👆が👇へ 10.6.1 ※難しい-->
            <% if btn_text = attendance_state(day) %>
              <%= link_to "#{btn_text}登録", user_attendance_path(@user, day), method: :patch, class: "btn btn-primary btn-attendance" %>
            <% end %>
          </td>
          <!--10.5.3-->
          <td><%= l(day.started_at, format: :time) if day.started_at.present? %></td>
          <td><%= l(day.finished_at, format: :time) if day.finished_at.present? %></td>
          <td>
            <!--在社時間表示 10.8-->
            <% if day.started_at.present? && day.finished_at.present? %>
              <!--< %= working_times(day.started_at, day.finished_at) %>-->
            <!--10.9.2より👇へ-->
              <%= str_times = working_times(day.started_at, day.finished_at) %>
              <% @total_working_times = @total_working_times.to_f + str_times.to_f %>
              <!--↑理解していない↑ 変数を定義して(@total_working_times) すぐにその変数を使用して計算している-->
            <% end %>
          </td>
          <td><%= day.note %></td>
        </tr>
      <% end %>
    </tbody>
    
    <tfoot>
      <!--rowspan:縦結合、colspan：横結合-->
      <tr>
        <td colspan="2">累計日数</td>
        <td colspan="2">総合勤務時間</td>
        <td colspan="2">累計在社時間</td>
        <td rowspan="2"></td>
      </tr>
      <tr>
        <!--累計日数-->
        <td colspan="2"><%= @attendances.count %></td>
        <!--総合勤務日数(指定勤務時間 × 出勤日数)-->
        <td colspan="2"><%= format_basic_info(@user.work_time).to_f * @worked_sum %></td>
        <!--累計在社時間-->
        <td colspan="2"><%= format("%.2f", @total_working_times.to_f) %></td>
      </tr>
    </tfoot>    
  </table>
</div>