<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title> <!-- yield â‡’ ç”£å‡ºã™ã‚‹ -->
                <!--â†‘full_titleï¾’ï½¿ï½¯ï¾„ï¾žâ‡’è‡ªåˆ†ã§ä½œæˆã—ãŸï¾’ï½¿ï½¯ï¾„ï¾žã‚’ä½¿ç”¨ã—ã¦ã„ã‚‹-->
                <!--â†‘ï¾’ï½¿ï½¯ï¾„ï¾žã¯ã€application_helperã«è¨˜è¼‰-->
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                               'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application',
                               'data-turbolinks-track': 'reload' %>
  <%= render 'layouts/shim' %>
  </head>
  <body>
    <!--<header class="navbar navbar-fixed-top navbar-inverse">-->
    <!--  <div class="container">-->
    <!--    <#%= link_to "Attendance App", '#', id: "logo" %>-->
    <!--    <nav>-->
    <!--      <ul class="nav navbar-nav navbar-right">-->
    <!--        <li><#%= link_to "Top",   '#' %></li>-->
    <!--        <li><#%= link_to "Log in", '#' %></li>-->
    <!--      </ul>-->
    <!--    </nav>-->
    <!--  </div>-->
    <!--</header>-->
    <!-- ä¸Šã®headerã®å†…å®¹ãŒä¸‹ã®ã“ã®1è¡Œã§åŽã¾ã‚‹(ãƒ‘ãƒ¼ã‚·ãƒ£ãƒ«åŒ–ã—ã¦ã„ã‚‹) -->
    <%= render 'layouts/header' %>
    <div class="container">
      
      <!--ã‚µã‚¯ã‚»ã‚¹ãƒ¡ãƒƒã‚»ãƒ¼ã‚¸ç­‰ã®è¡¨ç¤ºã€5.5.6ã€‘-->
      <% flash.each do |message_type, msg| %>
        <!--<div class="alert alert-< %= message_type %>">< %= msg %></div> ã“ã‚ŒãŒðŸ‘‡.html_sage è¿½åŠ  9.3.2-->
        <div class="alert alert-<%= message_type %>"><%= msg.html_safe %></div>
      <% end %>
      <%= yield %>
      
      <!--â†“ãƒ‡ãƒãƒƒã‚°ã‚’è¡¨ç¤ºã™ã‚‹/if ã¯é–‹ç™ºç’°å¢ƒã€developmentã€‘ã®ã¿ã§è¡¨ç¤º-->
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
